<!--
  ~ This Source Code Form is subject to the terms of the Mozilla Public
  ~ License, v. 2.0. If a copy of the MPL was not distributed with this
  ~ file, You can obtain one at http://mozilla.org/MPL/2.0/.
  -->

<ng-container>
  <h5>{{'appearance' | translate}}: </h5>
  <div class="form-group">
    <select
      [(ngModel)]="currentClientPresentation"
      (change)="onSelectClientPresentation()"
      class="form-control"
      [compareWith]="compareClientPresentations">
    <!-- <select
      [(ngModel)]="currentClientPresentation"
      (change)="onSelectClientPresentation()"
      class="ml-3 legend-select"
      [compareWith]="compareClientPresentations"> -->
      <option *ngFor="let clientPresentation of clientPresentations"
              [ngValue]="clientPresentation">
        {{clientPresentation.legendLabel}}
      </option>
    </select>
  </div>
  <div id="current-legend">
    <img *ngIf="currentClientPresentation != null" [src]="currentClientPresentation.legendUrl">
  </div>
</ng-container>
