<!--
  ~ This Source Code Form is subject to the terms of the Mozilla Public
  ~ License, v. 2.0. If a copy of the MPL was not distributed with this
  ~ file, You can obtain one at http://mozilla.org/MPL/2.0/.
  -->

<div id="layer-presentation" class="hover-opacity">
  <h6 class="px-2 pt-2">{{'appearance' | translate}}: </h6>
  <select
    [(ngModel)]="currentClientPresentation"
    (change)="onSelectClientPresentation()"
    class="ml-3 legend-select"
    [compareWith]="compareClientPresentations">
    <!-- <option *ngFor="let clientPresentation of (layerPresentationState | async).clientPresentations"
            [ngValue]="clientPresentation">
      {{clientPresentation.legendLabel}} -->
    <!-- </option> -->
  </select>
  <div id="current-legend">
    <img *ngIf="currentClientPresentation != null" [src]="currentClientPresentation.legendUrl">
  </div>
</div>
