#slider {
    position: relative;
    
    width: 100%;
    height: 100%;

    background-color: black;
}

#nib {
    position: absolute;
    top: 0;
    left: 0;

    width: 1em;
    height: 100%;
    background-color: #4287f5;
}

#slider svg {
    position: relative;
    pointer-events: none;
    user-select: none;

    color: white;

    z-index: 2;
}