/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.layer-picker-modal {
    padding-top: 10em;
}

.selectedTopic {
    text-transform: uppercase;
    font-size: .9em;
    font-weight: 900!important;

}

.modal-header {
    color: white;
    border-radius: 0px;
}

.modal-title {
    color: white;
    font-weight: 650;
}

 .close{
    color: white;
    text-shadow: none;
    width: auto;
}

.close:active, .close:hover{
    color: white;
}

.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
    color: white!important;
    outline: none;
}

/******* Buttons modifications *******/

.btn-primary {
    background-color: #041117;
    border-color: #041117;
}

.btn-primary:hover, .btn-primary:focus{
    background-color: #041117;
    border-color: #041117;
    box-shadow: none;
}

.btn-primary:active {
    background-color: #343a40!important;
    border-color: #343a40!important;
}

.btn-primary:not(:disabled):not(.disabled):active:focus{
    box-shadow: none;
}

.btn-close {
    width: auto;
}

/* Searchbox related stuff */
.searchbox {
    padding: 0;

}

.searchbox input {
    height: 3em;
    width: 100%;
    border-width: 0em;
    padding-left: 1.3em;

}

/* Topic picker related stuff */
#topic-picker {
    padding: 0;
}

/* Catelog related stuff */
.theme-title {
    padding: 0;
}
.theme-title-container {
    height: calc(1.5em + 2rem);
    line-height: 1.5em;
    font-size: 1.5rem;
}

.theme-title-container>div {
    display: inline-block;
    padding: 1rem;
    font-weight: 650;

}

.back-to-themes-button {
    cursor: pointer;
    user-select: none;
    height: 100%;

}

.arrow-right {
    height: 100%;
    width: auto;

    vertical-align: bottom;

    fill: #041117;
}

button {
    width: 100%;
    height: 2.2em;
    border: none;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    color: white;
    cursor: pointer;
    white-space: nowrap;
}

button>i {
    font-size: 1.4em;
    float: left;
}

.erase-label {
    display: none;
    width: 0%;
}

.fa-plus:before {
    vertical-align: middle;
}

label {
    font-size: 1.4rem;
    display: inline;
    cursor: pointer;
    overflow: hidden;
    line-height: normal;
  }