<ng-template #layerPicker let-modal>
    <div class="modal-header background-dark-blue">
        <h4 class="modal-title">
            {{ 'add-layer-modal-search-heading' | translate }}
        </h4>
    </div>
    <div class="modal-body searchbox">
        <input type="text" placeholder="{{ 'add-layer-modal-search-example' | translate }}">
    </div>

    <span *ngIf="selectedTopic === null">
        <div class="modal-header background-dark-blue">
            <h4 class="modal-title">
                {{ 'add-layer-modal-theme-heading' | translate }}
            </h4>
        </div>
        <div class="modal-body" id="topic-picker">
            <app-topic-picker></app-topic-picker>
        </div>
    </span>

    <span *ngIf="selectedTopic !== null">
        <div class="modal-header background-blue theme-title">
            <div class="theme-title-container">
                <div class="background-dark-blue back-to-themes-button"
                     (click)="backToThemes()">
                    <i class="fas fa-home"></i> {{ 'themes-label' | translate }}
                </div>
                <svg version = "1.1"
                    baseProfile="full"
                    width="40" height="100"
                    viewBox="0 0 40 100"
                    xmlns="http://www.w3.org/2000/svg"
                    class="arrow-right">
                    <polygon points="0,0 40,50, 0,100" class="triangle" />
                </svg>
                <div class="selectedTopic">{{ selectedTopic.label }}</div>
            </div>
        </div>
        <div class="modal-body">
            <app-catalog></app-catalog>
        </div>
    </span>
</ng-template>

<button class="background-dark-blue" (click)="open(layerPicker)">
    <i class="fas fa-plus"></i>
    <label [ngClass]="{'erase-label': isCollapsed}">{{'browse-data-button' | translate}}</label>
</button>