<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-expand-sm bg-dark header col-12">
      <a class="col-4 col-md-2 align-middle" href="#">
        <img [src]="'slgo-logo' | translate" alt="logo" height="25px">
      </a>
      <h4 class="navbar-text offset-2 col-4 d-none d-md-block text-center align-middle header foreground-white">{{titleKey | translate}}</h4>
      <div class="offset-4 offset-md-2 col-4 col-md-2">
        <div ngbDropdown class="float-right">
          <button class="btn btn-outline-secondary" id="help" ngbDropdownToggle>?</button>
          <div ngbDropdownMenu aria-labelledby="help">
            <button class="dropdown-item" (click)="onChangeLanguageClick()">{{'switch-language-code' | translate}}</button>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
