<!--
  ~ This Source Code Form is subject to the terms of the Mozilla Public
  ~ License, v. 2.0. If a copy of the MPL was not distributed with this
  ~ file, You can obtain one at http://mozilla.org/MPL/2.0/.
  -->

<div *ngIf="layerInformation" id="layer-information" class="hover-opacity">
  <div class="layerInfo">
    <div class="layerInformationsContainer">
      <h5 class="layerInformationsTitle">{{'layer-information-label' | translate}}</h5>
      <table class="layerInformations">
        <tbody>
          <tr *ngFor="let url of layerInformation.urls" class="layerInformation">
            <td class="layerInformationTdLeft">{{ url.label }}</td>
            <td class="layerInformationTdRight">
              <a class="layerInformationLink" target="_blank" href="{{ url.url }}">{{ url.value }}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
