<div *ngIf="behavior">
  <a>
    <span class="btn background-gray smaller-font font-weight-bold"
          *ngIf="behavior.options.isNowSupported"
          [ngClass]="{
          'foreground-yellow': behavior.isNowEnabled,
          'foreground-white': !behavior.isNowEnabled
          }"
          (click)="onNowClick()">
      {{'now' | translate }}
    </span>
  </a>
  <div>
    <p-calendar
          [(ngModel)]="currentDate"
          showTime="true"
          hourFormat="24"
          dateFormat="yy-mm-dd"
          readonlyInput="true"
          (onClose)="onCloseDatetimePicker()"></p-calendar>
  </div>
</div>
