/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.clickInformationContainer {
    display: flex;
    width: 100%;
}

.minimizeClickInformation {
    background-color: #00ACEE;
    color: white;
    width: 1em;
    text-align: center;
    cursor: pointer;
}

.clickInformationFields {
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%
}

.clickInformationLabel {
    font-weight: bold;
}

.minimizedClickInformationContainer {
    background-color: #00ACEE;
    color: white;
    width: 100%;
    cursor: pointer;
}

.minimizedClickInformationContainer i {
    padding-left: 0.3em;
}