#toggleTopicPicker {
  position: absolute;
  left: 10px;
  bottom: 120px;
}

#toggleCatalog {
  position: absolute;
  left: 10px;
  bottom: 80px;
}

#toggleLayerManager {
  position: absolute;
  left: 10px;
  bottom: 40px;
}

.toggleButton {
  width: 8em;
  opacity: 0.8;
}

.mapSelectStyle {
  position: absolute;
  bottom: 10px;
  left: 10px;
  letter-spacing: 1px;
  color: #000;
  text-align: center;
}
