<app-open-layers class="fill-area flexbox-item-grow"></app-open-layers>
<select [(ngModel)]="currentBaseLayer" (change)="onSelectBaseLayer()"
        [compareWith]="compareBaseLayers" class="mapSelectStyle">
  <option *ngFor="let baseLayer of (layerState | async).baseLayers" [ngValue]="baseLayer">
    {{baseLayer.title}}
  </option>
</select>
<app-popup class="absolute" style="top:47px;left:45px;">
  <app-catalog></app-catalog>
</app-popup>
<app-popup class="absolute" style="top:47px;left:500px;">
  <app-topic-picker></app-topic-picker>
</app-popup>
<app-popup class="absolute" style="bottom: 50px; left:45px">
  <app-layer-manager></app-layer-manager>
</app-popup>
