<app-open-layers class="full-sized"></app-open-layers>
<button id="toggleTopicPicker" class="toggleButton btn background-yellow" type="button" (click)="toggleTopicPicker()">{{
  'topic-picker-title' | translate }}
</button>
<button id="toggleCatalog" class="toggleButton btn background-yellow" type="button" (click)="toggleCatalog()">{{
  'catalog-title' | translate }}
</button>
<button id="toggleLayerManager" class="toggleButton btn background-yellow" type="button" (click)="toggleLayerManager()">
  {{ 'layer-manager-title' | translate }}
</button>
<select [(ngModel)]="currentBaseLayer" (change)="onSelectBaseLayer()"
        [compareWith]="compareBaseLayers" class="mapSelectStyle">
  <option *ngFor="let baseLayer of (layerState | async).baseLayers" [ngValue]="baseLayer">
    {{baseLayer.title}}
  </option>
</select>
<app-popup [popupOpen]="showCatalog" [title]="'catalog-title' | translate" class="absolute" [top]="47" [left]="45">
  <app-catalog></app-catalog>
</app-popup>
<app-popup [popupOpen]="showTopicPicker" [title]="'topic-picker-title' | translate" class="absolute" [top]="47"
           [left]="500">
  <app-topic-picker></app-topic-picker>
</app-popup>
<app-popup [popupOpen]="showLayerManager" [title]="'layer-manager-title' | translate" class="absolute" [top]="400"
           [left]="45">
  <app-layer-manager></app-layer-manager>
</app-popup>
