<app-open-layers class="full-sized"></app-open-layers>
<button *ngIf="environment.isTopicPickerActive"
        id="toggle-topic-picker"
        class="toggle-button btn background-yellow"
        type="button"
        (click)="toggleTopicPicker()">
  {{'topic-picker-title' | translate }}
</button>
<button id="toggle-catalog" class="toggle-button btn background-yellow" type="button" (click)="toggleCatalog()">{{
  'catalog-title' | translate }}
</button>
<button id="toggle-layer-manager" class="toggle-button btn background-yellow" type="button"
        (click)="toggleLayerManager()">
  {{ 'layer-manager-title' | translate }}
</button>
<select [(ngModel)]="currentBaseLayer" (change)="onSelectBaseLayer()"
        [compareWith]="compareBaseLayers" class="map-select-style">
  <option *ngFor="let baseLayer of (layerState | async).baseLayers" [ngValue]="baseLayer">
    {{baseLayer.title}}
  </option>
</select>
<span class="popup-bounds" #popupBounds></span>
<app-popup [id]="CATALOG_POPUP_ID" ngDraggable [bounds]="popupBounds" [inBounds]="true"
           [title]="'catalog-title' | translate"
           class="catalog-popup absolute popup-mobile-bottom above-ol regular-popup">
  <app-catalog></app-catalog>
</app-popup>
<app-popup [id]="TOPIC_PICKER_POPUP_ID" ngDraggable [bounds]="popupBounds" [inBounds]="true"
           [title]="'topic-picker-title' | translate"
           class="topic-picker-popup absolute popup-mobile-bottom above-ol regular-popup">
  <app-topic-picker></app-topic-picker>
</app-popup>
<app-popup [id]="LAYER_MANAGER_POPUP_ID" ngDraggable [bounds]="popupBounds" [inBounds]="true"
           [title]="'layer-manager-title' | translate"
           class="layer-manager-popup absolute popup-mobile-bottom above-ol regular-popup">
  <app-layer-manager></app-layer-manager>
</app-popup>
<app-popup [id]="LAYER_INFORMATION_POPUP_ID" ngDraggable [bounds]="popupBounds" [inBounds]="true"
           [title]="'layer-information-title' | translate"
           class="center-popup absolute popup-mobile-bottom above-ol wider-popup">
  <app-layer-information></app-layer-information>
</app-popup>
<app-popup [id]="LAYER_PRESENTATION_POPUP_ID" ngDraggable [bounds]="popupBounds" [inBounds]="true"
           [title]="'layer-presentation-title' | translate"
           class="center-popup absolute popup-mobile-bottom above-ol regular-popup">
  <app-layer-presentation></app-layer-presentation>
</app-popup>
