#toggle-topic-picker {
  position: absolute;
  left: 10px;
  bottom: 120px;
}

.above-ol {
  z-index: 100;
}

#toggle-catalog {
  position: absolute;
  left: 10px;
  bottom: 80px;
}

#toggle-layer-manager {
  position: absolute;
  left: 10px;
  bottom: 40px;
}

.toggle-button {
  width: 150px;
  opacity: 0.8;
}

.layer-manager-popup {
  bottom: 100px;
  left: 10px;
}

.center-popup {
  top: 42px;
  left: calc((100% / 2) - 500px / 2)
}

.topic-picker-popup {
  top: 42px;
  right: 5px;
}

.catalog-popup {
  top: 42px;
  left: 10px;
}

.map-select-style {
  position: absolute;
  bottom: 10px;
  left: 10px;
  letter-spacing: 1px;
  color: #000;
  text-align: center;
}

.popup-bounds {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
