<!--
  ~ This Source Code Form is subject to the terms of the Mozilla Public
  ~ License, v. 2.0. If a copy of the MPL was not distributed with this
  ~ file, You can obtain one at http://mozilla.org/MPL/2.0/.
  -->
<div>
  <div class="modal-header background-dark-blue">
    <h4 class="modal-title">{{ 'config-label-header' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-content" *ngFor="let b of behaviors;">
    <app-time-behavior *ngIf="b.handler === 'time'" [behavior]='b'></app-time-behavior>
    <app-enum-behavior *ngIf="b.handler === 'enum'" [behavior]='b'></app-enum-behavior>
    <app-dynamic-enum-behavior *ngIf="b.handler === 'dynamic-enum'" [behaviorUniqueId]='b.uniqueId'></app-dynamic-enum-behavior>
  </div>
  <div class="modal-content">
    <app-layer-presentation [layerId]="layer.id"></app-layer-presentation>
  </div>
  <div class="modal-content">
    <h5>{{'opacity-label' | translate}}</h5>
    <div class="slidecontainer">
      <input type="range" min="0" max="1" step="0.1" class="slider" [(ngModel)]="layer.opacity" (input)='sendOpacity($event)'>
    </div>
  </div>
  <div class="modal-content">
    <h5>{{'others-label' | translate}}</h5>
    <label id="always-on-top-control" class="b-contain"> {{'always-on-top-label' | translate}}
      <input type="checkbox" (input)="putLayerOnTop($event)" [(ngModel)]="layer.alwaysOnTop">
      <div class="b-input"></div>
    </label>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="modal.close()">{{ 'close-btn-label' | translate }}</button>    
  </div>
</div>