/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.topic {
  background-position: center center;
  background-size: cover;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
ul.list-group li {
  border-bottom: solid 3px #ffffff;
  opacity: 1;
}
ul.list-group li:first-child {
  border-top: solid 2px #ffffff;
}
ul.list-group li:last-child {
  border-bottom: none;
}

ul.list-group li:hover {
  filter: none;
  opacity: 1;
}

ul.list-group h5 {
  color: #000000;
  font-weight: 600;
}

.topick-picker-topic {
  border-radius: 0px!important;
}

.not-expanded {
  filter: grayscale(100%);
  opacity: 0.86 !important;
}


.list-group-item {
  padding: 2.75rem 1.25rem !important;
}
