<!--
  ~ This Source Code Form is subject to the terms of the Mozilla Public
  ~ License, v. 2.0. If a copy of the MPL was not distributed with this
  ~ file, You can obtain one at http://mozilla.org/MPL/2.0/.
  -->

<div id="topic-container">
  <div class="topic background-off-white"
        *ngFor="let topic of (topics | async); let i = index"
        (click)="onClickTopic(topic)">
    <div class="topic-image">
      <img src="{{ topic.imageUrl }}">
    </div>
    <div class="topic-label">{{ topic.label }}</div>
  </div>
</div>