<!--
  ~ This Source Code Form is subject to the terms of the Mozilla Public
  ~ License, v. 2.0. If a copy of the MPL was not distributed with this
  ~ file, You can obtain one at http://mozilla.org/MPL/2.0/.
  -->

<ul class="list-group">
  <li class="list-group-item topic topick-picker-topic"
      *ngFor="let topic of (catalogState | async).topics; let i = index" (click)="onClickTopic(i, topic)"
      [ngStyle]="{'background-image': 'url(' + topic.imageUrl + ')'}"
      [ngClass]="{'not-expanded': !topic.expanded}">

    <div style="background-color: #ffffff; margin-top: -45px; opacity: 0.7;"><h5>{{ topic.label }}</h5></div>
  </li>
</ul>
