<!--
  ~ This Source Code Form is subject to the terms of the Mozilla Public
  ~ License, v. 2.0. If a copy of the MPL was not distributed with this
  ~ file, You can obtain one at http://mozilla.org/MPL/2.0/.
  -->

<app-open-layers class="full-sized"></app-open-layers>
<a *ngIf="environment.isTopicPickerActive"
        id="toggle-topic-picker"
        class="toggle-button btn background-dark button-border text-center px-3"
        (click)="toggleTopicPicker()">
        <i class="far fa-clipboard-list foreground-yellow"></i>
        <span class="foreground-white pl-1">{{'topic-picker-title' | translate }}</span>
</a>
<a id="toggle-catalog" class="toggle-button btn background-dark button-border text-center
 px-3" (click)="toggleCatalog()">
  <i class="far fa-book foreground-yellow"></i>
  <span class="foreground-white pl-1">{{'catalog-title' | translate }}</span>
</a>
<a id="toggle-layer-manager" class="toggle-button btn background-dark button-border text-center px-3"
        (click)="toggleLayerManager()">
       <i class="far fa-bars  foreground-yellow"></i>
       <span class="foreground-white pl-1">{{ 'layer-manager-title' | translate }}</span>
</a>
<select [(ngModel)]="currentBaseLayer" (change)="onSelectBaseLayer()"
        [compareWith]="compareBaseLayers" class="map-select-style">
  <option *ngFor="let baseLayer of (baseLayers | async)" [ngValue]="baseLayer">
    {{baseLayer.title}}
  </option>
</select>
<span class="popup-bounds" #popupBounds></span>
<app-popup [id]="CATALOG_POPUP_ID" ngDraggable [bounds]="popupBounds" [inBounds]="true" #catalogPopup
           [title]="'catalog-title' | translate" [handle]="catalogPopup.popupHandle.nativeElement"
           class="catalog-popup absolute popup-mobile-bottom above-ol regular-popup">
  <app-catalog></app-catalog>
</app-popup>
<app-popup [id]="TOPIC_PICKER_POPUP_ID" ngDraggable [bounds]="popupBounds" [inBounds]="true" #topicPopup
           [title]="'topic-picker-title' | translate" [handle]="topicPopup.popupHandle.nativeElement"
           class="topic-picker-popup absolute popup-mobile-bottom above-ol regular-popup">
  <app-topic-picker></app-topic-picker>
</app-popup>
<app-popup [id]="LAYER_MANAGER_POPUP_ID" ngDraggable [bounds]="popupBounds" [inBounds]="true" #layerManagerPopup
           [title]="'layer-manager-title' | translate" [handle]="layerManagerPopup.popupHandle.nativeElement"
           class="layer-manager-popup absolute popup-mobile-bottom above-ol regular-popup">
  <app-layer-manager></app-layer-manager>
</app-popup>
<app-popup [id]="LAYER_INFORMATION_POPUP_ID" ngDraggable [bounds]="popupBounds" [inBounds]="true" #layerInfoPopup
           [title]="'layer-information-title' | translate"  [handle]="layerInfoPopup.popupHandle.nativeElement"
           class="center-popup absolute popup-mobile-bottom above-ol wider-popup">
  <app-layer-information></app-layer-information>
</app-popup>
<app-popup [id]="LAYER_PRESENTATION_POPUP_ID" ngDraggable [bounds]="popupBounds" [inBounds]="true" #layerPresPopup
           [title]="'layer-presentation-title' | translate" [handle]="layerPresPopup.popupHandle.nativeElement"
           class="center-popup absolute popup-mobile-bottom above-ol regular-popup">
  <app-layer-presentation></app-layer-presentation>
</app-popup>
<app-popup [id]="MAP_CLICK_POPUP_ID" ngDraggable [bounds]="popupBounds" [inBounds]="true" #mapClickPopup
           [title]="mapClickTitle" [handle]="mapClickPopup.popupHandle.nativeElement"
           class="map-click-popup absolute popup-mobile-bottom above-ol wider-popup">
  <app-map-click></app-map-click>
</app-popup>
