/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.popup .topBar {
  cursor: move;
  user-select: none;

  height: 30px;
  color: white;
}

.popup .topBar button {
  color: white !important;
}

.popup .popup-content {
  max-height: 350px;
  width: 100%;
  max-width: inherit;
  overflow-y: auto;
}

.popup .bottomBar {
  height: 10px;
}

.close {
  padding-right: 5px;
}

.title {
  padding-left: 12px;
  font-variant: small-caps;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}


