<!--
  ~ This Source Code Form is subject to the terms of the Mozilla Public
  ~ License, v. 2.0. If a copy of the MPL was not distributed with this
  ~ file, You can obtain one at http://mozilla.org/MPL/2.0/.
  -->

<div class="popup" [ngStyle]="{display: isOpen ? 'block': 'none'}">
  <div class="topBar align-middle background-dark-blue">
    <span class="title" >{{title}}</span>
    <button type="button" class="close" aria-label="Close" (click)=closePopup()>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="popup-content background-dark foreground-white">
    <ng-content></ng-content>
  </div>

  <div class="bottomBar background-dark-blue"></div>
</div>
