<!--
  ~ This Source Code Form is subject to the terms of the Mozilla Public
  ~ License, v. 2.0. If a copy of the MPL was not distributed with this
  ~ file, You can obtain one at http://mozilla.org/MPL/2.0/.
  -->
<div *ngIf="behavior">
  <h5 for="date">{{ 'date-label' | translate }}</h5>
  <div class="input-group">
    <input class="border-dark-blue" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker" [(ngModel)]="currentDate" (dateSelect)='onCloseDatetimePicker()'>
    <div class="input-group-append" (onClose)="onCloseDatetimePicker()">
      <button class="btn btn-outline-secondary border-dark-blue" (click)="d.toggle()" type="button"><i class="far fa-calendar-alt"></i></button>
    </div>
    <div>
      <span class="btn input-group-text background-gray smaller-font font-weight-bold btn-margin-left"
          *ngIf="behavior.options.isNowSupported"
          [ngClass]="{
          'foreground-yellow': behavior.isNowEnabled,
          'foreground-white': !behavior.isNowEnabled
          }"
          (click)="onNowClick()">
            {{'now' | translate }}
      </span>
    </div>
  </div>
  <!-- <div>
    <input class="btn background-gray smaller-font font-weight-bold"
    type="checkbox"
    [checked]="behavior.mode === Mode.sync"
    (click)="onSyncClick($event)">
    {{ 'sync-button-label' | translate}}
  </div> -->
</div>
