<span class="categoryHeader" *ngIf="category.type != 'root'"><h5 (click)="onClickCategory(category, treeLocation)">{{ category.label }}</h5></span>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let cat of category.categories; let i = index">
    <span *ngIf="!cat.isExpanded">
      <span (click)="onClickCategory(cat, treeLocation.concat([i]))">{{ cat.label }}</span>
      <span *ngIf="cat.type != 'layer'" class="badge badge-primary badge-pill float-right">{{ cat.categories.length }}</span>
    </span>
    <app-category *ngIf="cat.isExpanded" [category]="cat" [treeLocation]="treeLocation.concat([i])"></app-category>
  </li>
</ul>