.popup .topBar {
  cursor: pointer;
  user-select: none;

  height: 30px;
  background-color: #343a40;
  color: white;
}

.popup .topBar button {
  color: white !important;
}

.popup .popup-content {
  max-height: 350px;
  width: 100%;
  max-width: inherit;
  background-color: white;
  overflow-y: auto;
}

.popup .bottomBar {
  height: 10px;
  background-color: #343a40;
}

.close {
  padding-right: 5px;
}

.title {
  padding-left: 12px;
  font-variant: small-caps;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
}
