.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 375px;
}

.navigation {
    padding-top: 0.2em;
    font-size: 2.2em;
    text-align: right;
    color: white;
}

.navigation>.button-hide-sidebar {
    cursor: pointer;
    user-select: none;
}

.layer-list {
    flex: 1;
    overflow-y: auto;
    margin-top: 15px;
}

.add-layer-button {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 600!important;
}