<!--
  ~ This Source Code Form is subject to the terms of the Mozilla Public
  ~ License, v. 2.0. If a copy of the MPL was not distributed with this
  ~ file, You can obtain one at http://mozilla.org/MPL/2.0/.
  -->
<div class="container" [ngClass]="{'big-sidebar': !isCollapsed,
                                   'little-sidebar': isCollapsed}">
  <div class="navigation">
    <i class="button-hide-sidebar fas" [ngClass]="{'fa-chevron-circle-left': !isCollapsed,
                                                  'fa-chevron-circle-right': isCollapsed}" (click)="sidebarCollapse()"></i>
  </div>
  <div class="layer-list">
    <app-layer-manager *ngIf="!isCollapsed"></app-layer-manager>
  </div>
  <div class="add-layer-button">
    <app-layer-picker></app-layer-picker>
  </div>
</div>
