/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.layer-card {
  margin-bottom: 1.65em;
}

.layer-card-body-container {
  padding: 0.5em;
  overflow: hidden;
  cursor: grab;
}

.layer-card-body-container:active {
  cursor: grabbing;
}

.layer-card .heading {
  font-size: 1.05em;
  font-weight: bold;
  padding-left: 0.5em;
  display: flex;
  justify-content: space-between;
}

.layer-card .attribution {
  text-align: center;
}

.layer-card .legendLabel {
  text-align: center;
}

.layer-card .collapsed-description {
  max-height: 7em;
  overflow:hidden;
}

.layer-card .toggle-description {
  /* padding-right: 0.5em; */
  float: right;
}

.toggle-description a {
  color: #13B2EF;
  user-select: none;
}

.toggle-description a:hover {
  color: #004a66;
}

.layer-card .remove {
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

.layer-card-label {
  font-weight: bold;
  margin-bottom: 0;
}

.info-closed {
  display: none;
}

/* Stand out the selected layer */

.selected-draggable-div {
  transition: outline 0.3s linear;
  margin: 0.5em
}

.selected-draggable-div:hover {
  outline: 5px #D6DADD solid
}

.icon-container {
  display: flex;
}

i {
  padding-right: 0.3em;
  cursor: pointer;
}