<!--
  ~ This Source Code Form is subject to the terms of the Mozilla Public
  ~ License, v. 2.0. If a copy of the MPL was not distributed with this
  ~ file, You can obtain one at http://mozilla.org/MPL/2.0/.
  -->
<div class="layer-card background-white selected-draggable-div">
    <div class="layer-card-body-container">
        <div class="card-header-container">
            <label class="b-contain">
                <input type="checkbox" (input)="displayLayer($event)" [(ngModel)]="layer.isVisible">
                <div class="b-input"></div>
            </label>
            <div class="title background-lighter-gray">
                <div>{{ layer.title }}</div>
                <div class="icon-container">
                    <div (click)="open()"><i class="layer-icon fas fa-cog"></i></div>
                    <div><i class="layer-icon fas" [ngClass]="{'fa-chevron-up' : !isCollapsed, 
                                                    'fa-chevron-down' : isCollapsed}" (click)="collapseInfo()"></i></div>
                </div>
            </div>
        </div> 
        <!-- <div class="attribution">
            Attribution will go here
        </div> -->
        <div [ngClass]="{'info-closed': isCollapsed}">
            <app-map-click [layer]="layer"></app-map-click>
            <div class="legend">
                <img src="{{ layer.currentClientPresentation.legendUrl }}">
            </div>
            <div class="legendLabel">
                {{ layer.currentClientPresentation.legendLabel }}
            </div>
            <div *ngIf="layer.description" class="description collapsed-description" 
                [ngClass]="{'collapsed-description': !descriptionExpanded}"
                [innerHTML]="layer.description.description">
            </div>
            <div class="toggle-description"
                    (click)="toggleExpandDescription($event)">
                <a *ngIf="!descriptionExpanded">
                    {{ 'expand-description-button' | translate}}
                </a>
                <a *ngIf="descriptionExpanded">
                    {{ 'collapse-description-button' | translate}}
                </a>
            </div>
            <div *ngIf="!layer.description" class="description">
                {{ 'no-layer-description-message' | translate }}
            </div>
        </div>
    </div>
    <div class="remove background-lighter-gray foreground-red"
         (click)="removeLayer(layer.id)">
        {{'Remove-layer-label' | translate}}
    </div>
</div>