/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.layer-card {
  margin-bottom: 1.65em;
}

.layer-card-body-container {
  padding: 0.8em;
  overflow: hidden;
  cursor: grab;
}

.layer-card-body-container:active {
  cursor: grabbing;
}

.layer-card .title {
  font-size: 1.2em;
  font-weight: bold;
  padding-left: 0.5em;
  display: flex;
  justify-content: space-between;
  flex-grow: 2;
}

.layer-card .attribution {
  text-align: center;
}

.layer-card .legendLabel {
  text-align: center;
}

.layer-card .collapsed-description {
  max-height: 7em;
  overflow:hidden;
}

.layer-card .toggle-description {
  float: right;
}

.toggle-description a {
  color: #13B2EF;
  user-select: none;
}

.toggle-description a:hover {
  color: #004a66;
}

.layer-card .remove {
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

.info-closed {
  display: none;
}

/* Stand out the selected layer */

.selected-draggable-div {
  transition: outline 0.3s linear;
  margin: 0.5em
}

.selected-draggable-div:hover {
  outline: 5px #D6DADD solid
}

.icon-container {
  display: flex;
}

i {
  padding-right: 0.3em;
  cursor: pointer;
}

.layer-icon {
  color: #7F7F7F;
}

.card-header-container {
  display: flex;
}

/********* Checkbox styling *********/

.b-contain *, .b-contain *::before, .b-contain *::after {
	box-sizing: content-box !important;
}

.b-contain input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.b-contain span {
	line-height: 1.54;
	font-size: 1rem;
	font-family: inherit;
}

.b-contain {
	display: table;
	position: relative;
	padding-left: 1.8rem;
	cursor: pointer;
	margin-bottom: .5rem;
}

.b-contain input[type="checkbox"] ~ .b-input {
	position: absolute;
	top: 0;
	left: 0;
  height: 1.5rem;
	width: 1.5rem;
	background: rgb(255, 255, 255);
	transition: background 250ms;
	border: 1px solid rgba(184, 194, 204, 1);
	border-radius: 0.125rem;
}

.b-contain input[type="checkbox"] ~ .b-input::after {
	content: '';
	position: absolute;
	display: none;
	left: .50rem;
  bottom: .30rem;
	width: .40rem;
	height: 1rem;
	border: solid rgba(0, 130, 243, 1);;
	border-width: 0 2px 2px 0;
	transition: background 250ms;
	transform: rotate(45deg);
}

.b-contain input:disabled ~ .b-input::after {
	border-color: rgba(135, 149, 161, 1);
}

.b-contain input:checked ~ .b-input::after {
	display: block;
}

.b-contain:hover input ~ .b-input,
.b-contain input:focus ~ .b-input {
	background: rgb(255, 255, 255);
}

/* .b-contain input:focus ~ .b-input {
	box-shadow: 0 0 0 2px rgba(52,144,220,0.5);
} */

.b-contain input:checked ~ .b-input {
	background: rgba(255, 255, 255, 1);
	border-color: rgba(0, 130, 243, 1);
}

.b-contain input[type="checkbox"]:disabled ~ .b-input {
	background: rgba(241, 245, 248, 1);
	border-color: rgba(184, 194, 204, 1);
	opacity: 0.6;
	cursor: not-allowed;
}

.b-contain input:checked:focus ~ .b-input, .b-contain:hover input:not([disabled]):checked ~ .b-input {
	background: rgb(255, 255, 255);
	border-color: rgba(13, 143, 255, 1);
}

.b-contain .b-input::before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 3rem;
	height: 3rem;
	margin-left: -0.85rem;
	margin-top: -0.85rem;
	background: rgba(0, 130, 243, 1);
	border-radius: 2rem;
	opacity: .6;
	z-index: 99999;
	transform: scale(0);
}

.b-contain .b-input::before {
	visibility: hidden;
}

.b-contain input:focus + .b-input::before {
	visibility: visible;
}

.b-contain:first-child .b-input::before {
	visibility: hidden;
}