<div id="layer-manager" class="hover-opacity">
  <ul class="p-1">
    <li *ngFor="let uniqueId of layerIds.reverse()" class="no-list-style pt-1 pb-1 pl-2">
      <a><i class="fa fa-times-circle foreground-red"
            (click)="onRemoveClick(uniqueId)"></i></a>
      <span>{{(getLayerTitle(uniqueId) | async)}}</span>
      <a><i class="glyphicon fa fa-info-circle foreground-teal"
            (click)="onShowLayerInfoClick(uniqueId)"></i></a>
      <button class="btn foreground-white background-gray smaller-font text-uppercase btn-legend-padding"
              (click)="onShowLayerPresentation(uniqueId)">{{ 'legend' | translate}}
      </button>
      <a><i class="glyphicon fa fa-cog foreground-gray"
            (click)="onExpandSettingsClick(uniqueId)"></i></a>
      <div *ngIf="isSettingsExpanded(uniqueId)" class="settings pt-1">
        <a><i class="glyphicon fal fa-arrow-alt-up foreground-dark"
              (click)="onMoveUpLayerClick(uniqueId)"></i></a>
        <a><i class="glyphicon fal fa-arrow-alt-down foreground-dark"
              (click)="onMoveDownLayerClick(uniqueId)"></i></a>
        <div class="url-behavior py-1" *ngFor="let behavior of (getUrlBehaviors(uniqueId)| async)">
          <app-time-behavior *ngIf="behavior.handler == 'time'"
                             [behaviorUniqueId]=behavior.uniqueId>
          </app-time-behavior>
        </div>
      </div>
    </li>
  </ul>
</div>

