<div id="layer-manager">
  <ul>
    <li *ngFor="let layer of (layerState | async).layers.reverse()" class="no-list-style">
      <a><i class="fa fa-times-circle foreground-red"
            (click)="onRemoveClick(layer)"></i></a>
      <span>{{layer.title}}</span>
      <a><i class="glyphicon fa fa-info-circle foreground-teal"
            (click)="onShowLayerInfoClick(layer)"></i></a>
      <button class="btn foreground-purple background-dark p-0 smaller-font text-uppercase" (click)="onShowLayerPresentation(layer)">{{ 'legend' | translate}}</button>
    </li>
  </ul>
</div>

