/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

/* You can add global styles to this file, and also import other style files */
html, body {
  width: 100%;
  height: 100%;
  font-family: 'Muli', sans-serif;
  font-size: 15px;
}

a {
  cursor: pointer;
  color: #32A8EE;
}

.smaller-font {
  font-size: 10px;
}

.regular-popup {
  width: 350px;
}

.wider-popup {
  width: 500px;
}

.full-sized {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.absolute {
  position: absolute;
}

.no-list-style {
  list-style-type: none;
}

.foreground-black {
  color: black;
}

.background-white {
  background-color: #FFFFFF;
}

.foreground-white {
  color: #FFFFFF
}

.background-dark {
  background-color: #343A40
}

.foreground-dark {
  color: #343A40
}

.background-gray {
  background-color: #6A7480
}

.foreground-gray {
  color: #6A7480
}

.foregroud-gray {
  color: #a5b9cc
}

.background-light-gray {
  background-color: #5A5A5A;
}

.background-lighter-gray {
  background-color: #D6DADD;
}

.background-off-white {
  background-color: #F3F3F3;
}

.background-teal {
  background-color: #1BC98E;
}

.foreground-teal {
  color: #1BC98E;
}

.background-red {
  background-color: #E64759;
}

.foreground-red {
  /* color: #E64759 */
  color: #8A1010;
}

.background-purple {
  background-color: #755292;
}

.foreground-purple {
  /*color: #9F86FF;*/
  color: #614092;
}

.background-yellow {
  background-color: #E4D836;
}

.foreground-yellow {
  color: #E4D836;
}

.background-blue {
  background-color: #01ACED;
}

.foreground-blue {
  color: #01ACED;
}

.background-dark-blue {
  background-color: #041117;
}

.foreground-dark-blue {
  color: #142A30;
}

.ol-control button {
  background-color: rgba(53, 55, 58, .7) !important;
}

.ol-control button:hover {
  background-color: rgba(1, 13, 1, 0.75) !important;
  border: solid 1px rgba(255, 248, 253, 0.63);
}

.ol-control {
  background-color: transparent !important;
}

.ol-attribution ul {
  background-color: rgba(255, 248, 253, 0.73);
  font-size: 10px !important;
}

.ol-attribution {
  z-index: 98;
}

.ol-zoom {
  left: unset;
  right: 10px;
}

div#layer-information h4 {
  font-size: 18px;
}

div#layer-information h5 {
  margin-top: 15px;
  margin-bottom: 5px;
  padding: 4px 4px 3px 6px;
  color: #ffffff;
  font-size: 16px;
  background-color: #32A8EE;
}

div#layer-information table {
  width: 100%;
}

div#layer-information table tr {
  border-bottom: dashed 1px #A5B9CC;
}

div#layer-information table td {
  vertical-align: top;
}

div#layer-information table tr:last-child {
  border-bottom: none;
}

.field-label {
  display: block;

  font-weight: bold;
}

.field-value {
  display: block;
}

.fields-container {
  margin-bottom: 0.5em;
}

.badge-pill {
  border-radius: 3px;
}

.hover-opacity {
  opacity: 0.86;
}

.hover-opacity:hover {
  opacity: 1;
}

.ui-datepicker {
  position: static;
}

a:hover {
  color: #1CA8DD;
}
