<!--
  ~ This Source Code Form is subject to the terms of the Mozilla Public
  ~ License, v. 2.0. If a copy of the MPL was not distributed with this
  ~ file, You can obtain one at http://mozilla.org/MPL/2.0/.
  -->

<div *ngIf="behavior">
  <a>
    <span class="btn background-gray smaller-font font-weight-bold"
          *ngIf="behavior.options.isNowSupported"
          [ngClass]="{
          'foreground-yellow': behavior.isNowEnabled,
          'foreground-white': !behavior.isNowEnabled
          }"
          (click)="onNowClick()">
      {{'now' | translate }}
    </span>
  </a>
  <div>
    <p-calendar
          [(ngModel)]="currentDate"
          [showTime]="behavior.calendarShowTime != null ? behavior.calendarShowTime: true"
          [hourFormat]="behavior.calendarHourFormat ? behavior.calendarHourFormat : 24"
          [dateFormat]="behavior.calendarDateFormat ? behavior.calendarDateFormat: 'yy-mm-dd'"
          readonlyInput="true"
          (onClose)="onCloseDatetimePicker()"></p-calendar>
  </div>
</div>
